In [33]:
import pandas as pd

In [34]:
friend_dict_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]

In [35]:
df = pd.DataFrame(friend_dict_list, index = ['John', 'Jenny', 'Nate'])

In [36]:
df

       age        job
John    20    student
Jenny   30  developer
Nate    30    teacher

In [37]:
df.drop(['John', 'Nate'])

       age        job
Jenny   30  developer

In [38]:
df

       age        job
John    20    student
Jenny   30  developer
Nate    30    teacher

In [39]:
df.drop(['John', 'Nate'], inplace = True)

In [40]:
df

       age        job
Jenny   30  developer

In [41]:
friend_dict_list = [{'name': 'Jone', 'age': 20, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': 'developer'},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]

In [42]:
df = pd.DataFrame(friend_dict_list)

In [43]:
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [44]:
df.drop(df.index[[0,2]])

    name  age        job
1  Jenny   30  developer

In [45]:
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [46]:
df[df.age > 20]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [47]:
df.drop('age', axis= 1)

    name        job
0   Jone    student
1  Jenny  developer
2   Nate    teacher

In [48]:
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [49]:
df.drop('age', axis= 1, inplace= True)

In [50]:
df

    name        job
0   Jone    student
1  Jenny  developer
2   Nate    teacher