In [1]:
import pandas as pd

In [2]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]

In [3]:
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])

In [4]:
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [5]:
def extract_year(date):
    return date.split('-')[0]

In [6]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [7]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [8]:
def get_age(year, current_year):
    return current_year - int(year)

In [9]:
df['age'] = df['year'].apply(get_age, current_year=2018)

In [10]:
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   18
1  2002-09-24  2002   16
2  2005-12-20  2005   13

In [11]:
def get_introduce(age, prefix, suffix):
  return prefix + str(age) + suffix

In [12]:
df['introduce'] = df['age'].apply(get_introduce, prefix="I am ", suffix= " years old")

In [13]:
df

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   18  I am 18 years old
1  2002-09-24  2002   16  I am 16 years old
2  2005-12-20  2005   13  I am 13 years old

In [14]:
def get_introduce2(row):
  return "I was born in " + str(row.year) + " my age is " + str(row.age)

In [15]:
 df.introduce = df.apply(get_introduce2, axis=1)

 * 참고)

 df.introduce = df.apply(get_introduce2, axis=1) 는

 df['introduce'] = df.apply(get_introduce2, axis=1)과 동일하다.

In [16]:
df

   yyyy-mm-dd  year  age                        introduce
0  2000-06-27  2000   18  I was born in 2000 my age is 18
1  2002-09-24  2002   16  I was born in 2002 my age is 16
2  2005-12-20  2005   13  I was born in 2005 my age is 13