In [ ]:
import pandas as pd

In [ ]:
friend_dict_list = [{'name': 'Jone', 'age': 15, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': 'developer'},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]

In [ ]:
df = pd.DataFrame(friend_dict_list, columns = ['name', 'age', 'job'])

In [ ]:
df

    name  age        job
0   Jone   15    student
1  Jenny   30  developer
2   Nate   30    teacher

In [ ]:
df['salary'] = 0

In [ ]:
df.head()

    name  age        job  salary
0   Jone   15    student       0
1  Jenny   30  developer       0
2   Nate   30    teacher       0

In [ ]:
import numpy as np

In [ ]:
df['salary'] = np.where(df['job'] != 'student', 'yes', 'no')

In [ ]:
df.head()

    name  age        job salary
0   Jone   15    student     no
1  Jenny   30  developer    yes
2   Nate   30    teacher    yes

In [ ]:
friend_dict_list = [{'name': 'John', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 10, 'final': 30}]

In [ ]:
df = pd.DataFrame(friend_dict_list, columns = ['name', 'midterm', 'final'])

In [ ]:
df

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30

In [ ]:
df['total'] = df['midterm'] + df['final']

In [ ]:
df

    name  midterm  final  total
0   John       95     85    180
1  Jenny       85     80    165
2   Nate       10     30     40

In [ ]:
df['average'] = df['total'] / 2

In [ ]:
df

    name  midterm  final  total  average
0   John       95     85    180     90.0
1  Jenny       85     80    165     82.5
2   Nate       10     30     40     20.0

In [ ]:
grades = []

for row in df['average']:
    if row >= 90:
        grades.append('A')
    elif row >= 80:
        grades.append('B')
    elif row >= 70:
        grades.append('C')
    else:
        grades.append('F')
        
df['grade'] = grades

In [ ]:
df

    name  midterm  final  total  average grade
0   John       95     85    180     90.0     A
1  Jenny       85     80    165     82.5     B
2   Nate       10     30     40     20.0     F

In [ ]:
def pass_or_fail(row):
    print(row)
    if row != "F":
        return 'Pass'
    else:
        return 'Fail'

In [ ]:
df.grade = df.grade.apply(pass_or_fail)

A
B
F

In [ ]:
df

    name  midterm  final  total  average grade
0   John       95     85    180     90.0  Pass
1  Jenny       85     80    165     82.5  Pass
2   Nate       10     30     40     20.0  Fail

* 행 만들기

In [ ]:
friend_dict_list = [{'name': 'John', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 10, 'final': 30}]

In [ ]:
df = pd.DataFrame(friend_dict_list, columns = ['name', 'midterm', 'final'])

In [ ]:
df.head()

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30

In [ ]:
df2 = pd.DataFrame([
                    ['Ben', 50, 50]
], columns = ['name', 'midterm', 'final'])

In [ ]:
df2.head()

  name  midterm  final
0  Ben       50     50

In [ ]:
df.append(df2, ignore_index= True)

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30
3    Ben       50     50

두 데이터프레임의 index가 0부터 시작해서 겹치니까 ignore_index=True로 넣기