In [1]:
import pandas as pd

In [2]:
friend_dict_list = [
                    {'name': 'John', 'age': 25, 'job': 'student'},
                    {'name': 'Nate', 'age': 30, 'job': 'teacher'}
]

In [3]:
df = pd.DataFrame(friend_dict_list)

In [4]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

dictionary의 경우 column의 순서가 랜덤이다.

지금은 우연히 맞았지만, 

만약 순서 변경이 필요한 경우에는 직접 순서를 명시해주는 방법으로 해결할 수 있다.

(예) df = df[['name', 'age', 'job']]

아니면 ordered dictionary를 사용하는 방법도 있다.

In [5]:
from collections import OrderedDict

In [6]:
friend_ordered_dict = OrderedDict(
    [
     ('name', ['John', 'Nate']),
     ('age', ['25', '30']),
     ('job', ['student', 'teacher'])
    ]
)

In [7]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [8]:
df.head()

   name age      job
0  John  25  student
1  Nate  30  teacher

In [9]:
friend_list = [
               ['John', 25, 'student'],
               ['Nate', 30, 'teacher']
]

In [10]:
column_name = ['name', 'age', 'job']

In [11]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [12]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher