In [32]:
import pandas as pd

In [33]:
l1 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Fred', 'job': "developer"}]

l2 = [{'name': 'Ed', 'job': "dentist"},
      {'name': 'Jack', 'job': "farmer"},
      {'name': 'Ted', 'job': "designer"}]


l3 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Jack', 'job': "developer"}]

l4 = [{'age': 25, 'country': "U.S"},
      {'age': 30, 'country': "U.K"},
      {'age': 45, 'country': "Korea"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])
df3 = pd.DataFrame(l3, columns = ['name', 'job'])
df4 = pd.DataFrame(l4, columns = ['age', 'country'])

In [34]:
df1

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer

In [35]:
df2

   name       job
0    Ed   dentist
1  Jack    farmer
2   Ted  designer

### 방법 1. pd.concat

In [36]:
frames = [df1, df2]
result = pd.concat(frames, ignore_index=True)

In [37]:
result

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

### 방법 2 df.append

In [38]:
result = df1.append(df2, ignore_index=True)

In [39]:
result

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

* 행으로 붙이기

In [40]:
df3

   name        job
0  John    teacher
1  Nate    student
2  Jack  developer

In [41]:
df4

   age country
0   25     U.S
1   30     U.K
2   45   Korea

In [42]:
result = pd.concat([df3, df4], axis = 1, ignore_index= True)

In [43]:
result

      0          1   2      3
0  John    teacher  25    U.S
1  Nate    student  30    U.K
2  Jack  developer  45  Korea

In [46]:
label = [1,2,3,4,5]
prediction = [1,2,2,4,4]

In [47]:
comparision = pd.DataFrame({'label':label, 'prediction':prediction})

In [48]:
comparision

   label  prediction
0      1           1
1      2           2
2      3           2
3      4           4
4      5           4